# General
node_modules/
dist/
build/
.env
venv/
__pycache__/
*.pyc
*.log
*.sqlite
*.db
.DS_Store

# GeoEngine specific
**/node_modules/
**/venv/
**/__pycache__/
**/*.pkl
**/*.sqlite
**/*.db
**/data/
**/build/
**/package-lock.json

# Large data folders
geo-engine/data/
geo-engine/backend/data/
geo-engine/frontend/build/
geo-engine/backend/models/*.pkl
geo-engine/backend/cache/
